includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 5
  treatPhpDocTypesAsCertain: false
  parallel:
    maximumNumberOfProcesses: 1
  paths:
    - itd-cookies.php
    - admin
    - includes
    - public
  bootstrapFiles:
    - tests/phpstan-bootstrap.php
